body {
  background: linear-gradient(to right, #434343 0%, black 100%);
  font-family: Arial;
}
.container button {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  border: none;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .container button {
    width: 150px;
    height: 150px;
  }
}
.container button img {
  display: block;
  width: 100%;
}
.container h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background: -webkit-linear-gradient(#eee, #ac7e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  margin: 15% auto;
}
.container div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.scoreboard {
  display: block;
}
.scoreboard p {
  color: white;
  padding: 0px 60px;
}
.confirmation {
  text-align: center;
  font-size: 25px;
  color: white;
}
.score-board p {
  padding: 10px auto;
  color: white;
}
